* {
    margin: 0;
    padding: 0;
}

header {
    align-items: flex-start;
    background-color: none;
    padding: 0px;
    margin: 0px;

}

#imagemLogo {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin: 0px;
    margin-left: 70px;
}

#textoLogo {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 0px;
    align-items: baseline ;
    padding-bottom: 20px;
    margin-left: 10px;
}

#fotoDePerfilCabecalho {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border-image: fill;
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 20px;
    float: right;
}

body {
    background: url(./img/fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100%;
    background-color:blanchedalmond;
    padding: 20px;
    padding-bottom: 200px;
    box-sizing: 0;
}

.container {
    border-style: inset;
    border-radius: 2%;
    margin-top: 50px;   
    margin-left: 370px; 
    margin-right: 50%;
    display: inline-block;
    width: 420px;
    margin: 2 auto;
    padding: 0;
}

.container h5 {
    margin-top: 10px;
}

.usuario {
    display: inline-flex;
    margin-top: 5px;  
    margin-right: 50px;
    margin-left: 20px;    
    margin-bottom: 0px;  
    padding-top: 10px;
    padding-bottom: 5px;
}

.publicacao {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 0;
    text-align: center;
}

.reacoes p {
    margin: 20px;
    padding: 0;
    text-align: left;
}

#fotoDoPost {    
    width: 100%;    
    margin: 0;
    padding: 0;
}

h4 {
    margin-top: 10px;
    margin-bottom: 1px;
}

#fotoDePerfil {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    border-radius: 100%;
    border-image: fill;
    margin-right: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.reacoes {
    margin: 3px;
}

#coracaoLikeClaro{
    width: 28px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: none;  
}

#coracaoLikeEscuro,
#comentar,
#compartilhar {
    width: 20px;
    margin-bottom: 5px;
    margin-right: 8px;
    margin-top: 5px; 
}

#coracao1,
#adicionar,
#explorar,
#chat,
#home {
    width: 30px;
    float: right;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

